include *.txt
include *.md
include *.pkl
recursive-include ./time_series_model *

include time_series_model/datasets/Time_series.csv
include time_series_model/datasets/test.csv
include time_series_model/trained_models/*.pkl
include time_series_model/VERSION
include time_series_model/config.yml

include ./requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]